.home-page-content {
  --hero-height: 90vh;
  --article-padding-horizontal: calc(var(--container-padding) + 5%);
  --article-padding-vertical: 5%;
  --article-gap: 10vh;

  display: flex;
  flex-direction: column;
  background-color: var(--color-foreground);
}