:root {
  /* Primary Color Scale */
  --primary-color-100: #00110c;
  --primary-color-200: #01281d;
  --primary-color-300: #074f3a;
  --primary-color-400: #117a5c;
  --primary-color-500: #29ab87;
  --primary-color-600: #41bf9b;
  --primary-color-700: #76dbbe;
  --primary-color-800: #b0f2df;
  --primary-color-900: #e0fcf4;

  /* Secondary Color Scale */
  --secondary-color-100: #000e11;
  --secondary-color-200: #001e26;
  --secondary-color-300: #044051;
  --secondary-color-400: #13687f;
  --secondary-color-500: #298eaa;
  --secondary-color-600: #43a6c1;
  --secondary-color-700: #6fc4db;
  --secondary-color-800: #a6dded;
  --secondary-color-900: #d9f4fc;

  /* Semantic Tokens - Light Theme (Default) */
  --color-background: var(--primary-color-900);
  --color-foreground: var(--primary-color-500);
  --color-text: var(--secondary-color-100);
  --color-text-hidden: var(--primary-color-700);

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px;

  --container-padding: 15%;

  --font-family-base: Inter, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  /* Banner */
  --color-banner-background: var(--primary-color-500);
  --opacity-banner-image: 0.75;

}

.icon-sun {
  display: none;
}

html[data-theme="dark"] {
  /* Semantic Tokens - Dark Theme */
  --color-background: var(--primary-color-200);
  --color-foreground: var(--primary-color-100);
  --color-text: var(--secondary-color-900);
  --color-text-hidden: var(--primary-color-300);
  --color-border: var(--primary-color-300);

  /* Banner */
  --color-banner-background: var(--primary-color-100);
  --opacity-banner-image: 0.4;

  /* Theme-specific icon visibility */
  .icon-sun {
    display: block;
  }

  .icon-moon {
    display: none;
  }
}

@media (max-width: 768px) {
  :root {
    --container-padding: 5%;
  }
}