<div class="header-items center-vertically max-width">
    <div class="header-logo link-icon">
        <a href="/">
            {{logoSvg}}
        </a>
    </div>
    <div class="header-nav center-vertically">
        <a href="/blog/" class="header-nav-item shadow-on-hover-light"> Blog </a>
        <a href="/software/" class="header-nav-item shadow-on-hover-light"> Softwares </a>
        <a href="/games/" class="header-nav-item shadow-on-hover-light"> Games </a>
        <a href="https://github.com/Concave-Beak" class="header-nav-item shadow-on-hover-light link-icon"
            target="_blank" title="Concave Beak's Github page">
            {{lucideCodeIcon}}
        </a>
        <div class="header-nav-item shadow-on-hover-light">
            <div id="theme-button" class="theme-button link-icon" title="Change theme">
                <button>
                    {{lucideMoonIcon}}
                    {{lucideSunIcon}}
                </button>
            </div>
        </div>
    </div>
</div>
