.app-footer {
  --footer-height: 15vh;

  width: 100vw;
  background-color: var(--color-foreground);
  font-size: 14px;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  overflow: hidden;
  min-height: var(--footer-height);
  padding-top: var(--spacing-lg);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.footer-description {
  max-width: 75%;
}

.footer-nav {
  gap: var(--spacing-xs);
}

.footer-nav-item {
  text-decoration: underline;
  color: var(--color-text);
}

.footer-copyright {
  font-weight: bold;
}