.app-toast {
  position: fixed;
  top: 12.5%;
  right: 2%;

  width: var(--notification-width);

  display: flex;
  flex-direction: column;

  z-index: 100;

  gap: 1em;
}

.toast-item {
  height: var(--notification-height);
  min-width: 100%;
}