.home-page-article-container {
  background-color: var(--color-background);

  padding-left: var(--article-padding-horizontal);
  padding-right: var(--article-padding-horizontal);
  padding-top: var(--article-padding-vertical);
  padding-bottom: var(--article-padding-vertical);

  transition: all 0.2s ease;
}

.home-page-article-header {
  font-size: 45px;
  text-align: center;
  transition: all 0.5s ease;
  text-transform: capitalize;
  padding-bottom: var(--article-gap);
}

#home-page-articles-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: var(--article-gap);
}

.home-page-article {
  display: flex;
  gap: 2%;
  text-decoration: none;
  color: var(--color-text);
}

.home-page-article-thumbnail {
  max-width: 40%;

  img {
    max-width: 100%;
    min-height: 520px;
    object-fit: cover;
    object-position: center right;
  }
}

.home-page-article-text {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  max-height: 100%;
}


.home-page-article-title {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-highlight);
  text-transform: uppercase;
}

.home-page-article-snippet {
  margin-top: 4%;
}

.home-page-article-date {
  color: var(--color-text-hidden);
  padding-top: 5%;
  margin-top: auto;
}

.home-page-article-read-more {
  color: var(--color-highlight-subtle);
}

.home-page-article:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;

  .home-page-article-title {
    margin-left: auto;
  }

  .home-page-article-date {
    margin-left: auto;
  }

  .home-page-article-read-more {
    margin-left: auto;
  }
}