.home-page-article-container {
    background-color: var(--color-background);

    padding-left: var(--article-padding-horizontal);
    padding-right: var(--article-padding-horizontal);
    padding-top: var(--article-padding-vertical);
    padding-bottom: var(--article-padding-vertical);

    transition: all 0.2s ease;
}

.home-page-article-header {
    font-size: var(--font-size-xl);
    text-align: center;
    transition: all 0.5s ease;
    text-transform: capitalize;
    padding-bottom: var(--article-gap);
}

.home-page-articles-list {
    justify-content: space-between;
    row-gap: var(--article-gap);
}

.home-page-article {
    display: flex;
    gap: var(--spacing-lg);
}

.home-page-article-thumbnail {
    max-width: var(--article-items-max-width);

    img {
        max-width: 100%;
        min-height: var(--article-thumbnail-height);
        object-fit: cover;
        object-position: center right;
    }
}

.home-page-article-text {
    max-width: var(--article-items-max-width);
    max-height: 100%;
}


.home-page-article-title {
    font-size: var(--font-size-lg);
    font-weight: bold;
    text-decoration: none;
    color: var(--color-highlight);
    text-transform: uppercase;
}

.home-page-article-snippet {
    margin-top: 4%;

    text-decoration: none;
    color: var(--color-text);
}

.home-page-article-date {
    color: var(--color-text-hidden);
    padding-top: 5%;
    margin-top: auto;
}

.home-page-article-read-more {
    color: var(--color-highlight-subtle);
}

.home-page-article:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;

    .home-page-article-title {
        margin-left: auto;
    }

    .home-page-article-date {
        margin-left: auto;
    }

    .home-page-article-read-more {
        margin-left: auto;
    }
}

@media (max-width: 768px) {
    .home-page-article {
        flex-direction: column-reverse;
        align-items: center;
    }

    .home-page-article:nth-child(even) {
        flex-direction: column-reverse;
        align-items: center;

        .home-page-article-title {
            margin-left: 0;
        }

        .home-page-article-date {
            margin-left: 0;
        }

        .home-page-article-read-more {
            margin-left: 0;
        }
    }

    .home-page-article-header {
        font-size: var(--font-size-lg);

    }

    .home-page-article-title {
        font-size: var(--font-size-md);
    }

    .home-page-article-read-more {
        display: none
    }

    .home-page-article-snippet {
        font-size: var(--font-size-xs)
    }

    .home-page-article-date {
        font-size: var(--font-size-xs)
    }

    .home-page-article-thumbnail {
        max-width: var(--article-items-max-width);

        img {
            max-width: 100%;
            min-height: var(--article-thumbnail-height);
            object-fit: cover;
            object-position: center right;
        }
    }
}
