:root {
  --primary-color-900: #e0fcf4;
  --primary-color-800: #b0f2df;
  --primary-color-700: #76dbbe;
  --primary-color-600: #41bf9b;
  --primary-color-500: #29ab87;
  --primary-color-400: #17916e;
  --primary-color-300: #0b7053;
  --primary-color-200: #03513b;
  --primary-color-100: #002d20;

  --secondary-color-900: #d9f4fc;
  --secondary-color-800: #a6dded;
  --secondary-color-700: #6fc4db;
  --secondary-color-600: #43a6c1;
  --secondary-color-500: #298eaa;
  --secondary-color-400: #13687f;
  --secondary-color-300: #044051;
  --secondary-color-200: #001e26;
  --secondary-color-100: #000e11;
}

.icon-sun {
  display: none;
}

html[data-theme="dark"] {
  --primary-color-900: #e0fcf4;
  --primary-color-800: #b0f2df;
  --primary-color-700: #76dbbe;
  --primary-color-600: #41bf9b;
  --primary-color-500: #29ab87;
  --primary-color-400: #17916e;
  --primary-color-300: #0b7053;
  --primary-color-200: #03513b;
  --primary-color-100: #002d20;

  --secondary-color-900: #d9f4fc;
  --secondary-color-800: #a6dded;
  --secondary-color-700: #6fc4db;
  --secondary-color-600: #43a6c1;
  --secondary-color-500: #298eaa;
  --secondary-color-400: #13687f;
  --secondary-color-300: #044051;
  --secondary-color-200: #001e26;
  --secondary-color-100: #000e11;

  .icon-sun {
    display: block;
  }


  .icon-moon {
    display: none;
  }
}


html,
body {
  background-color: var(--secondary-color-200);
  color: var(--primary-color-900);
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;

  background-color: var(--secondary-color-100);
  min-height: 80px;

  .header-logo {
    display: flex;
    align-items: center;

    svg {
      transform: rotate(-15deg);
      height: 30px;
      width: auto;
      fill: var(--primary-color-900);
    }
  }

  .header-nav {
    display: flex;

    .header-nav-item {
      text-decoration: none;
      padding: 8px 16px;
      display: flex;
      align-items: center;
      color: var(--primary-color-900);

      p {
        margin: 0;
      }

      button {
        border: none;
        background-color: transparent;
      }

      svg {
        max-height: 30px;
        width: auto;
        fill: var(--secondary-color-100);
        color: var(--primary-color-900);
      }
    }
  }
}